@import "../../../../../styles.scss";

@include desktopQueries {
  .nav-bar {
    width: fit-content;

    ul {
      @include displayFlex(row, flex-end, center, 2rem);
      height: 100%;

      li {
        @include displayFlex(row, flex-end, center);
        width: fit-content;
        height: fit-content;
        padding: 0;
        box-shadow: none;
        background-color: transparent;


        a, button {
          font-size: 1.8rem;
          color: #000000;
          text-decoration: none;
        }
      }
    }

  }


  .home-colors {
    ul {
      li {
        a, button {
          color: white;
        }
      }
    }
  }
}
