<nav class="nav-bar" [ngClass]="currentPage == 'home' ? 'home-colors' : ''">
  <ul>
    <li><a routerLink="/home" routerLinkActive="router-link-active">Home</a>
    </li>
    <li>
      <a routerLink="/admin" routerLinkActive="router-link-active">Admin</a>
    </li>
    <li>
      <a routerLink="/auth/login" routerLinkActive="router-link-active">Login</a>
    </li>
    <li>
      <a routerLink="/auth/signup" routerLinkActive="router-link-active">Signup</a>
    </li>
    <li>
      <a routerLink="/shopping-cart" routerLinkActive="router-link-active"><fa-icon [icon]="cartIcon"></fa-icon></a>
    </li>
  </ul>
</nav>
