@import "../../../../../../styles.scss";

.welcome-banner {
  @include displayFlex(column, center, flex-start);
  width: 100%;
  height: 100%;
  padding: 0 3rem;

  .welcome-banner__content {
    @include displayFlex(column, center, center);
    height: 100%;
    font-size: 3.5rem;

    .content-a {
      @include displayFlex(column, center, center);
      height: 90%;
      color: $dark-mode;

      span {
        color: #b4b4b4;
        font-weight: 600;
      }
    }

    .btn {
      @include displayFlex(row, center, center);
      width: 100%;
      font-size: 2.5rem;
      color: $dark-mode;
    }
  }
}

.dark-mode {
  .welcome-banner__content {
    .content-a {
      color: white;
    }

    .btn {
      color: white;
    }
  }
}
