<div class="welcome-banner">
  <div class="welcome-banner__media-container__desktop " *ngIf="screenSize > 768">
    <video loop>
      <source src="https://youtu.be/ISrb1Y7oOW8" type="video/mp4">
      Your browser does not support this video
    </video>
  </div>
  <div class="welcome-banner__media-container__mobile" *ngIf="screenSize <= 768">
  </div>
  <div class="welcome-banner__content">
    <h2>Find the<br />best <span>products.</span></h2>
    <a><button class="btn">SHOP NOW</button></a>
  </div>
</div>