<header class="header" [ngClass]="currentPage == 'home' ? 'home-colors' : ''" [ngClass]="screenMode ? '': 'dark-mode'">
  <div class="logo">
    <img [src]="screenMode ? logos.lightModeLogo : logos.darkModeLogo" alt="Orix Ecommerce Logo">
  </div>
  <div class="nav-bar__mobile" *ngIf="screenSize < 768">
    <button class="btn" (click)="openMobileMenu()">
      <fa-icon [icon]="iconMobileMenu"></fa-icon>
    </button>
  </div>
  <div class="nav-bar__devices" *ngIf="screenSize > 768">
    <orix-nav-bar currentPage="currentPage"></orix-nav-bar>
  </div>
</header>