@import '../../../../styles.scss';

.home {
  width: 98.9vw;
  max-width: 100vw;

  .welcome-banner {
    width: 100%;
    @include heightCalc(100vh);
  }
}

.light-mode {
  background-color: #ffffff;
}

.dark-mode {
  background-color: #000000;
}