<orix-header [currentPage]="'home'" (openMobileMenuNotification)="openMobileMenu()"></orix-header>
<section class="home" [ngClass]="screenMode ? '': 'dark-mode'">
  <div class="welcome-banner">
    <orix-welcome-banner></orix-welcome-banner>
  </div>
  <div id="home-content">
    <orix-product-list-page></orix-product-list-page>
  </div>
</section>
<orix-footer></orix-footer>
<orix-mobile-menu *ngIf="displayMobileMenu && screenSize <= 768" (closeMobileMenuNotification)="closeMobileMenu()"></orix-mobile-menu>