@import '../../../../../../styles.scss';

.product-form__container {
  @include displayFlex(column, center, center, 2rem);
  width: 100%;

  h2 {
    font-size: 1.8rem;
    font-weight: 600;
  }

  form {
    @include displayFlex(column, flex-start, flex-start, 1rem);
    width: 100%;

    .control-container {
      @include displayFlex(column, center, center, 0.5rem);
      width: 100%;

      .controls {
        @include displayFlex(column, center, center, 0.5rem);
        width: 100%;

        .lbl {
          width: 100%;
        }

        .ipt {
          width: 30rem;
        }
      }
    }

    .btn {
      align-self: center;
      margin-top: 0.7rem;
    }
  }
}

.dark-mode {
  h2 {
    color: white
  }

  form {
    .control-container {
      .controls {
        .lbl {
          color: white;
        }

        .ipt {
          border: solid 0.1rem $grey-color;
          color: white;
          background-color: $dark-mode;
        }
      }

      .errors-list {
        color: white;
      }
    }

    .btn {
      border: solid 0.1rem $grey-color;
      color: white;
      background-color: $dark-mode;
    }
  }
}