<orix-header (openMobileMenuNotification)="openMobileMenu()"></orix-header>
<section class="admin-table">
  <div class="create-product__container">
    <h2>Products</h2>
    <button class="create-product__button" (click)="openModal('Create')">Create Product</button>
  </div>
  <orix-admin-products-table [changeInDataBaseNotification]="changeInDataBaseNotification" (openModalNotification)="openModal($event)"></orix-admin-products-table>
</section>
<orix-footer></orix-footer>
<div class="modal__container" *ngIf="displayModal">
  <orix-modal-container (closeModalNotification)="closeModal()">
    <orix-product-form  [mode]="modalMode" (submitForm)="onSubmit($event)"></orix-product-form>
  </orix-modal-container>
</div>
<orix-mobile-menu *ngIf="displayMobileMenu && screenSize <= 768" (closeMobileMenuNotification)="closeMobileMenu()"></orix-mobile-menu>