@import "../../../../../../../styles.scss";

@include desktopQueries() {
  .login__form-container {
    .login__form {
      @include displayFlex(column, center, center, 1.5rem);
      width: 45rem;
      height: 45rem;

      .control-container {
        .control-container__inputs {
          @include displayFlex(row, flex-start, center);
          width: 100%;

          .lbl {
            width: 28%;
          }

          .ipt {
            width: 72%;
          }
        }

        .errors-list {
          width: 100%;
          margin-top: 0.5rem;
          color: $grey-color;
          font-size: 1.6rem;
          text-align: center;
        }
      }
    }
  }
}
