$light-mode: #ffffff;
$dark-mode: #0f0f11;
$grey-color: #6e6e73;
$grey-color-variation: #e2e2e4;
$box-shadow: 2px 4px 12px rgba(0,0,0,.08);
$font-family: "League Spartan", sans-serif;

@mixin displayFlex(
  $flex-direction: row,
  $justify-content,
  $align-items,
  $gap: 0,
  $wrap: wrap
) {
  display: flex;
  flex-direction: $flex-direction;
  justify-content: $justify-content;
  align-items: $align-items;
  gap: $gap;
  flex-wrap: $wrap;
}

@mixin tabletQueries {
  @media screen and (min-width: 768px){
    @content;
  }
}

@mixin desktopQueries {
  @media screen and (min-width: 1080px){
    @content;
  }
}

@mixin desktopPlusQueries {
  @media screen and (min-width: 1440px){
    @content;
  }
}

html {
  font-size: 10px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

button {
  cursor: pointer;
  font-family: $font-family;
}
