$light-mode: #ffffff;
$dark-mode: #0f0f11;
$bright-blue: #0546ff;
$indigo-blue: #5c44e4;
$electric-violet: #8514f5;
$french-violet: #8001c6;
$vivid-pink: #f637e3;
$hot-pink: #e90364;
$hot-red: #f11653;
$orange-red: #fa2c05;

html {
  font-size: 10rem;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}